@{
    ViewBag.Title = "Home Page";
}

<div class="page-loader loading">
    <div class="loader">
        <i class="fas fa-spinner fa-spin" aria-hidden="true"></i>
    </div>
</div>
<div class="overlay-nav"></div>


    @{ 
        Html.RenderPartial("~/Views/Shared/_Header.cshtml");
    }



<div class="content">
    <section class="home-slider">
        <div class="slider-single control-nav">
            <div class="slider-item">
                <div class="item" style="background-image: url('/Public/images/home/1920x1010_home-1.jpg');">
                    <div class="content-wrapper">
                        <div class="info">
                            <div class="info-header text-center">
                                <h3 class="heading">Created sixth multiply</h3>
                                <p class="caption-header">Won't good green every years above saying don't kind land the female. Of abundantly He. <br>Hath shall i their us moveth sixth in.</p>
                            </div>
                            <a href="@Url.Action("index","post")" class="btn btn-primary">Post your own ad</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="item" style="background-image: url('/Public/images/home/1920x1010_home-2.jpg');">
                    <div class="content-wrapper">
                        <div class="info">
                            <div class="info-header text-center">
                                <h3 class="heading">Great. Wherein.</h3>
                                <p class="caption-header">Form he void she'd grass. Can't, greater air be firmament hath. Him days. Fowl signs. <br>His first whales the us which first had heaven them first above he wherein.</p>
                            </div>
                            <a href="view-listing.html" class="btn btn-primary">View ad</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="home-categories no-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="categories_wrapper">
                        <div class="category-search">
                            <div class="row">
                                <div class="col-12 col-lg-10">
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                                <input type="text" class="form-control" placeholder="Search for anything" value="">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <i class="fa fa-map-marker-alt" aria-hidden="true"></i>
                                                <input type="text" class="form-control" placeholder="Location" value="">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group icon">
                                                <i class="fa fa-bars" aria-hidden="true"></i>
                                                <select>
                                                    <option>Choose Category</option>
                                                    <option value="1">Auto, Moto</option>
                                                    <option value="2">Real Estate</option>
                                                    <option value="3">Electronics and appliances</option>
                                                    <option value="4">Fashion</option>
                                                    <option value="5">Home &amp; Garden</option>
                                                    <option value="6">Mother &amp; Child</option>
                                                    <option value="7">Sport, Hobby &amp; Art</option>
                                                    <option value="8">Pets</option>
                                                    <option value="9">Jobs</option>
                                                    <option value="10">Plane Tickets</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-2">
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="button">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category-list">
                            <div class="row">
                                <div class="col-4 col-md-3 col-lg-3">
                                    <div class="item">
                                        <a href="category-list.html">
                                            <span class="icon"><i class="fa fa-car" aria-hidden="true"></i></span>
                                            <h6>Auto, Moto</h6>
                                        </a>
                                        <span class="counter">
                                            (1125)
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-3">
                                    <div class="item">
                                        <a href="category-list-2.html">
                                            <span class="icon"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span>
                                            <h6>Fashion</h6>
                                        </a>
                                        <span class="counter">
                                            (621)
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-3">
                                    <div class="item">
                                        <a href="category-list.html">
                                            <span class="icon"><i class="fa fa-child" aria-hidden="true"></i></span>
                                            <h6>Mother & Child</h6>
                                        </a>
                                        <span class="counter">
                                            (113)
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-3">
                                    <div class="item">
                                        <a href="category-list-2.html">
                                            <span class="icon"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                                            <h6>Jobs</h6>
                                        </a>
                                        <span class="counter">
                                            (325)
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-3">
                                    <div class="item">
                                        <a href="category-map.html">
                                            <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                                            <h6>Real Estate</h6>
                                        </a>
                                        <span class="counter">
                                            (2537)
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-3">
                                    <div class="item">
                                        <a href="category-list.html">
                                            <span class="icon"><i class="fa fa-paw" aria-hidden="true"></i></span>
                                            <h6>Pets</h6>
                                        </a>
                                        <span class="counter">
                                            (252)
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-3">
                                    <div class="item">
                                        <a href="category-list-2.html">
                                            <span class="icon"><i class="fa fa-bicycle" aria-hidden="true"></i></span>
                                            <h6>Sport</h6>
                                        </a>
                                        <span class="counter">
                                            (755)
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-3 d-md-none">
                                    <div class="item empty">
                                        <a href="category-list.html">
                                            <span class="icon"></span>
                                            <h6></h6>
                                        </a>
                                        <span class="counter">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4 col-md-3 col-lg-3">
                                    <div class="item">
                                        <a href="category-list.html">
                                            <span class="icon"><i class="fas fa-ellipsis-h" aria-hidden="true"></i></span>
                                            <h6>More</h6>
                                        </a>
                                        <span class="counter">
                                            (+10)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="bkg-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-header text-center">
                        <h3>Popular Stores</h3>
                    </div>
                    <div class="featured-stores slider-multiple dir-nav">
                        <div class="slider-item">
                            <div class="item">
                                <div class="img-thumbnail">
                                    <img src="~/Public/images/stores/500X500_abc.jpg" width="" height="" alt="" />
                                </div>
                                <div class="info">
                                    <h6><i class="fa fa-store"></i>ABC Fashion Store</h6>
                                    <div class="actions">
                                        <div class="rating rated">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
                                        </div>
                                        <span class="reviews">(57 reviews)</span>
                                    </div>
                                    <div class="excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec facilisis ante, sit amet molestie dolor.
                                    </div>
                                    <a href="@Url.Action("index","viewstore")" class="btn btn-primary">View store</a>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item">
                            <div class="item">
                                <div class="img-thumbnail">
                                    <img src="~/Public/images/stores/500X500_apple.jpg" width="" height="" alt="" />
                                </div>
                                <div class="info">
                                    <h6><i class="fa fa-store"></i>GoodFood Magazine</h6>
                                    <div class="actions">
                                        <div class="rating rated">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                        <span class="reviews">(158 reviews)</span>
                                    </div>
                                    <div class="excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec facilisis ante, sit amet molestie dolor.
                                    </div>
                                    <a href="@Url.Action("index","viewstore")" class="btn btn-primary">View store</a>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item">
                            <div class="item">
                                <div class="img-thumbnail">
                                    <img src="~/Public/images/stores/500X500_business.jpg" width="" height="" alt="" />
                                </div>
                                <div class="info">
                                    <h6><i class="fa fa-store"></i>Electronics Shop</h6>
                                    <div class="actions">
                                        <div class="rating">
                                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
                                        <span class="reviews">(883 reviews)</span>
                                    </div>
                                    <div class="excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec facilisis ante, sit amet molestie dolor.
                                    </div>
                                    <a href="@Url.Action("index","viewstore")" class="btn btn-primary">View store</a>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item">
                            <div class="item">
                                <div class="img-thumbnail">
                                    <img src="~/Public/images/stores/500X500_jaguar.jpg" width="" height="" alt="" />
                                </div>
                                <div class="info">
                                    <h6><i class="fa fa-store"></i>Jaguar Auto</h6>
                                    <div class="actions">
                                        <div class="rating rated">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                        </div>
                                        <span class="reviews">(158 reviews)</span>
                                    </div>
                                    <div class="excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec facilisis ante, sit amet molestie dolor.
                                    </div>
                                    <a href="@Url.Action("index","viewstore")" class="btn btn-primary">View store</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="listing-products grid-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-header text-center">
                        <h3>New Ads</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="item-wrapper">
                        <div class="image-wrapper">
                            <a href="view-listing.html" class="image">
                                <img class="" src="~/Public/images/products/1000X675_accessories.jpg" data-src="#" alt="">
                            </a>
                            <div class="quick-actions">
                                <a href="#quick-view" data-toggle="modal" class="btn btn-primary btn-circle"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a href="#" class="btn btn-primary btn-circle add-to-fav"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="info-wrapper">
                            <div class="info">
                                <div class="category">Electronics</div>
                                <a href="@Url.Action("index","viewlisting")" class="name">Apple care package</a>
                                <span class="price">$419.99</span>
                                <span class="excerpt">Etiam leo donec facilisi volutpat leo, inceptos nisi.</span>
                                <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> California, United States</span>
                                <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted 2 hours ago</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="item-wrapper">
                        <div class="image-wrapper">
                            <a href="@Url.Action("index","viewlisting")" class="image">
                                <img class="" src="~/Public/images/products/1000X675_bag.jpg" data-src="#" alt="">
                            </a>
                            <div class="quick-actions">
                                <a href="#quick-view" data-toggle="modal" class="btn btn-primary btn-circle"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a href="#" class="btn btn-primary btn-circle add-to-fav"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="info-wrapper">
                            <div class="info">
                                <div class="category">Fashion</div>
                                <a href="@Url.Action("index","viewlisting")" class="name">Zara bag</a>
                                <span class="price">$400</span>
                                <span class="excerpt">Nibh justo duis dapibus euismod auctor venenatis in luctus non. Sociosqu eleifend tincidunt euismod euismod nunc luctus.</span>
                                <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> California, United States</span>
                                <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted Yesterday</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="item-wrapper">
                        <div class="image-wrapper">
                            <a href="@Url.Action("index","viewlisting")" class="image">
                                <img class="" src="~/Public/images/products/1000X675_bmw.jpg" data-src="#" alt="">
                            </a>
                            <div class="quick-actions">
                                <a href="#quick-view" data-toggle="modal" class="btn btn-primary btn-circle"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a href="#" class="btn btn-primary btn-circle add-to-fav"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="info-wrapper">
                            <div class="info">
                                <div class="category">Auto, Moto</div>
                                <a href="@Url.Action("index","viewlisting")" class="name">BMW series 5</a>
                                <span class="price">$54,000</span>
                                <span class="excerpt">Ad per sem etiam rhoncus integer aptent, cubilia viverra ante, elit, praesent sociis.</span>
                                <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> California, United States</span>
                                <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted Yesterday</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="item-wrapper">
                        <div class="image-wrapper">
                            <a href="@Url.Action("index","viewlisting")" class="image">
                                <img class="" src="~/Public/images/products/1000X675_boots.jpg" data-src="#" alt="">
                            </a>
                            <div class="quick-actions">
                                <a href="#quick-view" data-toggle="modal" class="btn btn-primary btn-circle"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a href="#" class="btn btn-primary btn-circle add-to-fav"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="info-wrapper">
                            <div class="info">
                                <div class="category">Fashion</div>
                                <a href="@Url.Action("index","viewlisting")" class="name">Timberlake Boots</a>
                                <span class="price">$212.00</span>
                                <span class="excerpt">Fringilla. Aliquet dolor. Tellus nostra nunc nisl.</span>
                                <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> California, United States</span>
                                <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted 5 hours ago</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="item-wrapper">
                        <div class="image-wrapper">
                            <a href="@Url.Action("index","viewlisting")" class="image">
                                <img class="" src="~/Public/images/products/1000X675_converse.jpg" data-src="#" alt="">
                            </a>
                            <div class="quick-actions">
                                <a href="#quick-view" data-toggle="modal" class="btn btn-primary btn-circle"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a href="#" class="btn btn-primary btn-circle add-to-fav"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="info-wrapper">
                            <div class="info">
                                <div class="category">Fashion</div>
                                <a href="@Url.Action("index","viewlisting")" class="name">Converse shoes</a>
                                <span class="price">$135.00</span>
                                <span class="excerpt">Velit bibendum, porttitor. Quis convallis, varius placerat viverra erat nascetur. </span>
                                <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> Washington, Seattle</span>
                                <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted 2 days ago</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="item-wrapper">
                        <div class="image-wrapper">
                            <a href="@Url.Action("index","viewlisting")" class="image">
                                <img class="" src="~/Public/images/products/1000X675_vespa-2.jpg" data-src="#" alt="">
                            </a>
                            <div class="quick-actions">
                                <a href="#quick-view" data-toggle="modal" class="btn btn-primary btn-circle"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a href="#" class="btn btn-primary btn-circle add-to-fav"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="info-wrapper">
                            <div class="info">
                                <div class="category">Auto, Moto</div>
                                <a href="@Url.Action("index","viewlisting")" class="name">Vespa</a>
                                <span class="price">$1200</span>
                                <span class="excerpt">Suspendisse Eget fusce aenean risus platea dolor feugiat suspendisse augue.</span>
                                <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> Nevada, Las Vegas</span>
                                <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted on 11.06.2018</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="view-more text-center">
                        <a href="@Url.Action("index","loadmore")" class="btn btn-primary">Load More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bkg-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-header text-center">
                        <h3>Clients Reviews</h3>
                    </div>
                    <div class="featured-clients slider-multiple dir-nav">
                        <div class="slider-item">
                            <div class="item">
                                <div class="img-thumbnail">
                                    <img src="~/Public/images/reviews/500X500_review-1.jpg" width="" height="" alt="" />
                                </div>
                                <div class="info">
                                    <div class="author">
                                        <div class="name">
                                            <strong>John Silver</strong>
                                            Developer
                                        </div>
                                        <div class="rating rated">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
                                        </div>
                                    </div>
                                    <div class="excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec facilisis ante, sit amet molestie dolor.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item">
                            <div class="item">
                                <div class="img-thumbnail">
                                    <img src="~/Public/images/reviews/500X500_review-2.jpg" width="" height="" alt="" />
                                </div>
                                <div class="info">
                                    <div class="author">
                                        <div class="name">
                                            <strong>Harry Joe</strong>
                                            CEO
                                        </div>
                                        <div class="rating rated">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
                                        </div>
                                    </div>
                                    <div class="excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec facilisis ante, sit amet molestie dolor.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item">
                            <div class="item">
                                <div class="img-thumbnail">
                                    <img src="~/Public/images/reviews/500X500_review-3.jpg" width="" height="" alt="" />
                                </div>
                                <div class="info">
                                    <div class="author">
                                        <div class="name">
                                            <strong>Emma Thompson</strong>
                                            UI/UX Designer
                                        </div>
                                        <div class="rating rated">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
                                        </div>
                                    </div>
                                    <div class="excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec facilisis ante, sit amet molestie dolor.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item">
                            <div class="item">
                                <div class="img-thumbnail">
                                    <img src="~/Public/images/reviews/500X500_review-4.jpg" width="" height="" alt="" />
                                </div>
                                <div class="info">
                                    <div class="author">
                                        <div class="name">
                                            <strong>Anna Chloe</strong>
                                            Manager
                                        </div>
                                        <div class="rating rated">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>
                                        </div>
                                    </div>
                                    <div class="excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec facilisis ante, sit amet molestie dolor.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="featured-articles grid-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-header text-center">
                        <h3>Recent Articles</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 item">
                    <a href="@Url.Action("index","blogarticle")" class="image">
                        <img class="" src="~/Public/images/blog/1000X675_article-1.jpg" data-src="#" alt="">
                    </a>
                    <div class="info">
                        <a href="@Url.Action("index","blogarticle")" class="name">Best selling practices</a>
                        <span class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec facilisis ante, sit amet molestie dolor.</span>
                        <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted 1 hour ago</span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 item">
                    <a href="@Url.Action("index","blogarticle")" class="image">
                        <img class="" src="~/Public/images/blog/1000X675_article-2.jpg" data-src="#" alt="">
                    </a>
                    <div class="info">
                        <a href="@Url.Action("index","blogarticle")" class="name">Increase your sales income</a>
                        <span class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted on 11.07.2018</span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 item">
                    <a href="@Url.Action("index","blogarticle")" class="image">
                        <img class="" src="~/Public/images/blog/1000X675_article-3.jpg" data-src="#" alt="">
                    </a>
                    <div class="info">
                        <a href="@Url.Action("index","blogarticle")" class="name">Advertise your own prodcut</a>
                        <span class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted 2 hours ago</span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 item">
                    <a href="@Url.Action("index","blogarticle")" class="image">
                        <img class="" src="~/Public/images/blog/1000X675_article-4.jpg" data-src="#" alt="">
                    </a>
                    <div class="info">
                        <a href="@Url.Action("index","blogarticle")" class="name">101 SEO rules</a>
                        <span class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> Posted Yesterday</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="view-more text-center">
                        <a href="@Url.Action("index","recentviewall")" class="btn btn-primary">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@{
    Html.RenderPartial("~/Views/Shared/_MyProduct.cshtml");
}