@model  Homepage

@{
   List <ChooseCategory> chooseCategory = ViewBag.ChooseCategory as List<ChooseCategory>;
}

<div class="page-loader loading">
    <div class="loader">
        <i class="fas fa-spinner fa-spin" aria-hidden="true"></i>
    </div>
</div>
<div class="overlay-nav"></div>


    @{ 
        Html.RenderPartial("~/Views/Shared/_Header.cshtml");
    }



<div class="content">
    <section class="home-slider">
        <div class="slider-single control-nav">
            <div class="slider-item">
                <div class="item" style="background-image: url('/Public/images/home/1920x1010_home-1.jpg');">
                    <div class="content-wrapper">
                        <div class="info">
                            <div class="info-header text-center">
                                <h3 class="heading">Created sixth multiply</h3>
                                <p class="caption-header">Won't good green every years above saying don't kind land the female. Of abundantly He. <br>Hath shall i their us moveth sixth in.</p>
                            </div>
                            <a href="@Url.Action("index","post")" class="btn btn-primary">Post your own ad</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="item" style="background-image: url('/Public/images/home/1920x1010_home-2.jpg');">
                    <div class="content-wrapper">
                        <div class="info">
                            <div class="info-header text-center">
                                <h3 class="heading">Great. Wherein.</h3>
                                <p class="caption-header">Form he void she'd grass. Can't, greater air be firmament hath. Him days. Fowl signs. <br>His first whales the us which first had heaven them first above he wherein.</p>
                            </div>
                            <a href="@Url.Action("index","viewlisting")" class="btn btn-primary">View ad</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="home-categories no-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="categories_wrapper">
                        <div class="category-search">
                            <div class="row">
                                <div class="col-12 col-lg-10">
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                                <input type="text" class="form-control" placeholder="Search for anything" value="">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <i class="fa fa-map-marker-alt" aria-hidden="true"></i>
                                                <input type="text" class="form-control" placeholder="Location" value="">
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4">
                                            <div class="form-group icon">
                                                <i class="fa fa-bars" aria-hidden="true"></i>

                                                <select>
                                                    <option>Choose Category</option>
                                                    @foreach (var item in chooseCategory)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </select>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-12 col-lg-2">
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="button">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                            <div class="category-list">

                                <div class="row">
                                    @foreach (var item in Model.Categories)
                                    {
                                        <div class="col-4 col-md-3 col-lg-3">

                                            <div class="item">
                                                <a href="@Url.Action("index","viewlisting")">

                                                    <span class="icon"><i class="fa fa-car" aria-hidden="true"></i></span>
                                                    <h6>@item.Name</h6>
                                                </a>
                                                <span class="counter">
                                                    (@item.Rewies)
                                                </span>
                                            </div>
                                            


                                        </div>
                                    }

                                    </div>
                                
                            </div>
                        
                        </div>
                </div>
            </div>
        </div>
    </div>

    <section class="bkg-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-header text-center">
                        <h3>Popular Stores</h3>
                    </div>
                    <div class="featured-stores slider-multiple dir-nav">
                        @foreach (var item in Model.Populars)
                        {
                            <div class="slider-item">
                                <div class="item">
                                    <div class="img-thumbnail">
                                        <img src="~/Uploads/@item.Photo" width="" height="" alt="" />
                                    </div>
                                    <div class="info">
                                        <h6><i class="fa fa-store"></i>@item.Title</h6>
                                        <div class="actions">
                                            <div class="rating rated">
                                                <i class="@item.Icon"></i>
                                                <i class="@item.Icon"></i>
                                                <i class="@item.Icon"></i>
                                                <i class="@item.Icon"></i>
                                                <i class="@item.Icon"></i>
                                            </div>
                                         
                                        </div>
                                        <div class="excerpt">
                                           @item.Text
                                        </div>
                                        <a href="@Url.Action("index","viewstore")" class="btn btn-primary">@item.LinkName</a>
                                    </div>
                                </div>
                            </div>
                        }

                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="listing-products grid-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-header text-center">
                        <h3>New Ads</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.Ads)
                {
                    <div class="col-12 col-md-6 col-lg-4 item">

                        <div class="item-wrapper">

                            <div class="image-wrapper">
                                <a href="view-listing.html" class="image">
                                    <img class="" src="~/Uploads/@item.Photo" data-src="#" alt="">
                                </a>
                                <div class="quick-actions">
                                    <a href="#quick-view" data-toggle="modal" class="btn btn-primary btn-circle"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    <a href="#" class="btn btn-primary btn-circle add-to-fav"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>


                            <div class="info-wrapper">
                                <div class="info">
                                    <div class="category">@item.Title</div>
                                    <a href="@Url.Action("index", "viewlisting")" class="name">@item.LinkName</a>
                                    <span class="price">$@item.Price</span>
                                    <span class="excerpt">@item.Text</span>
                                    <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> @item.LocationName</span>
                                    <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> @item.Date</span>
                                </div>
                            </div>

                        </div>
                        

                    </div>
                }
                   
                </div>
            <div class="row">
                <div class="col-12">
                    <div class="view-more text-center">
                        <a href="@Url.Action("index","loadmore")" class="btn btn-primary">Load More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bkg-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                <div class="section-header text-center">
                    <h3>Clients Reviews</h3>
                </div>
               

                <div class="featured-clients slider-multiple dir-nav">
                    @foreach (var item in Model.Clients)
                    {
                        <div class="slider-item">
                            <div class="item">
                                <div class="img-thumbnail">
                                    <img src="~/Uploads/@item.Photo" width="" height="" alt="" />
                                </div>
                                <div class="info">
                                    <div class="author">
                                        <div class="name">
                                            <strong>@item.Name</strong>
                                            Developer
                                        </div>
                                        <div class="rating rated">
                                            <i dic class="@item.Icon"></i>
                                        </div>
                                    </div>
                                    <div class="excerpt">
                                        @item.Text
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    </div>
                
                </div>
                

            </div>
        </div>

    </section>
    <section class="featured-articles grid-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-header text-center">
                        <h3>Recent Articles</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.Recents)
                {
                    <div class="col-12 col-md-6 col-lg-3 item">
                        <a href="@Url.Action("index","blogarticle")" class="image">
                            <img class="" src="~/Uploads/@item.Photo" data-src="#" alt="">
                        </a>
                        <div class="info">
                            <a href="@Url.Action("index","blogarticle")" class="name">@item.Title</a>
                            <span class="excerpt">@item.Text</span>
                            <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> @item.Date</span>
                        </div>
                    </div>
                }

               
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="view-more text-center">
                        <a href="@Url.Action("index","recentviewall")" class="btn btn-primary">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@{
    Html.RenderPartial("~/Views/Shared/_MyProduct.cshtml");
}