<header class="header">
    <div class="top-bar">
        <div class="container">
            <div class="row justify-content-center align-self-center h-100">
                <div class="col-6 col-md-5 my-auto">
                    <ul>
                        <li><strong>Location:</strong></li>
                    </ul>

                </div>
                <div class="col-6 col-md-7 my-auto text-right">
                    <ul>
                        <li><i class="fa fa-envelope-o"></i> <a href="#">customer@website.com</a> </li>
                        <li><i class="fa fa-phone"></i> <a href="#">555-1965-543</a> </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="main-menu-wrapper">
        <nav>
            <div class="main-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-7 col-sm-7 col-lg-2">
                            <div class="hamburger"><a href="#"><span><span></span></span></a></div>
                            <div class="logo">
                                <a href="@Url.Action("index","home")"><img src="~/Public/images/logo.png" alt="ThePure Template Logo" /></a>
                            </div>
                            <ul class="main-nav small-screen">
                                <li>
                                    <a href="#">Home</a>
                                    <ul>
                                        <li><a href="@Url.Action("index","home")">Home</a></li>

                                    </ul>
                                </li>
                                <li class="active">
                                    <a href="#">Pages</a>
                                    <ul>

                                        <li><a href="@Url.Action("index","profile")">View Profile</a></li>
                                        <li><a href="@Url.Action("index","store")">View Store</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="#">My account</a>
                                    <ul>

                                        <li><a href="@Url.Action("index","info")">My Info</a></li>
                                        <li><a href="@Url.Action("index","favorites")">Favorites</a></li>
                                        <li><a href="@Url.Action("index","inbox")">Inbox</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Others</a>
                                    <ul>

                                        <li><a href="@Url.Action("index","signin")">Sign-in</a></li>
                                        <li><a href="@Url.Action("index","signup")">Sign-up</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("index","contact")">Contact</a>
                                    <ul>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-1 col-lg-8 d-none d-sm-block">
                            <ul class="main-nav">
                                <li>
                                    <a href="#">Home</a>
                                    <ul>
                                        <li><a href="@Url.Action("index","home")">Home</a></li>

                                    </ul>
                                </li>
                                <li class="active">
                                    <a href="#">Pages</a>
                                    <ul>

                                        <li><a href="@Url.Action("index","profile")">View Profile</a></li>
                                        <li><a href="@Url.Action("index","store")">View Store</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="#">My account</a>
                                    <ul>

                                        <li><a href="@Url.Action("index","info")">My Info</a></li>
                                        <li><a href="@Url.Action("index","favorites")">Favorites</a></li>
                                        <li><a href="@Url.Action("index","inbox")">Inbox</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Others</a>
                                    <ul>

                                        <li><a href="@Url.Action("index","signin")">Sign-in</a></li>
                                        <li><a href="@Url.Action("index","signup")">Sign-up</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("index","contact")">Contact</a>

                                </li>
                            </ul>
                        </div>
                        <div class="col-5 col-sm-4 col-lg-2">
                            <div class="right-block text-right">
                                <a href="my-account-info.html" class="btn d-lg-none"><i class="far fa-user" aria-hidden="true"></i></a>
                                <div class="btn-group d-none d-lg-block">
                                    <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="far fa-user" aria-hidden="true"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a href="my-account-my-listing.html"><i class="fas fa-server" aria-hidden="true"></i>My Ads</a>
                                        <a href="my-account-info.html"><i class="fas fa-cog" aria-hidden="true"></i>Account Info</a>
                                        <a href="my-account-favorites.html"><i class="far fa-heart" aria-hidden="true"></i>Favorites</a>
                                        <a href="my-account-inbox.html"><i class="far fa-comments" aria-hidden="true"></i>Inbox</a>
                                        <a href="my-account-invoice.html"><i class="fas fa-file-invoice-dollar" aria-hidden="true"></i>Invoices</a>
                                        <a href="my-account-store.html"><i class="fas fa-store" aria-hidden="true"></i>Store Settings</a>
                                        <a href="#"><i class="fas fa-sign-out-alt" aria-hidden="true"></i>Logout</a>
                                    </div>
                                </div>
                                <a href="post.html" class="btn btn-secondary"><i class="fa fa-plus" aria-hidden="true"></i><span>Post an Ad</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

