@model  Homepage
@{
    List<SocialLink> socialLinks = ViewBag.SocialLink as List<SocialLink>;
    Setting settings = ViewBag.Setting as Setting;
    CodinBit codinBit = ViewBag.CodinBit as CodinBit;
    
}



<section class="listing-products grid-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header text-center">
                    <h3>Promoted Ads</h3>
                </div>
            </div>
        </div>
        <div class="row row-list">
            @foreach (var item in Model.Promoteds)
            {
                <div class="col-12 col-md-6 col-lg-3 item">
                    <div class="item-wrapper">
                        <div class="image-wrapper">
                            <div class="promoted">
                                <span>Promoted</span>
                            </div>
                            <a href="@Url.Action("index","viewlisting")" class="image">
                                <img class="" src="~/Uploads/@item.Photo" data-src="#" alt="">
                            </a>
                            <div class="quick-actions">
                                <a href="#quick-view" data-toggle="modal" class="btn btn-primary btn-circle"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a href="#" class="btn btn-primary btn-circle add-to-fav"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="info-wrapper">
                            <div class="info">
                                <div class="category">@item.Title</div>
                                <a href="@Url.Action("index","viewlisting")" class="name">@item.NameUrl</a>
                                <span class="price">$419.99</span>
                                <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> @item.Location</span>
                                <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> @item.Date</span>
                            </div>
                        </div>
                    </div>
                </div>
            }

          
        </div>
    </div>
</section>

<footer class="footer">
    <form action="#" method="post" class="newsletter-banner">
        <div class="container">
            <div class="row justify-content-center align-self-center h-100">
                <div class="col-12 col-xl-10">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 col-lg-6 my-auto">
                            <label>Sign up For <strong>Newsletter:</strong></label>
                        </div>
                        <div class="col-12 col-md-8 col-lg-6 my-auto">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button">Sign Up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="block-navigation">
        <a href="javascript:;" class="btn btn-secondary back-to-top"><i class="fas fa-angle-up"></i></a>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="logo">
                        <a href="#"><img src="~/Uploads/@codinBit.Logo" width="" height="" alt="" /></a>
                    </div>
                    <p class="info">
                        @codinBit.Text
                        <ul class="social">
                            @foreach (var sl in socialLinks)
                            {
                                <li><a href="@sl.Url" target="_blank"><i class="fab fa-@sl.Icon" aria-hidden="true"></i></a></li>
                            }


                        </ul>
                </div>
                         
            </div>
        </div>
    </div>
    <div class="block-copyright">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="https://www.codinbit.com/">  @codinBit.EndText</a>
                </div>
            </div>
        </div>
    </div>
</footer>
