@model Homepage
@{
    List<SocialLink> socialLinks = ViewBag.SocialLink as List<SocialLink>;
    Setting settings = ViewBag.Setting as Setting;
}



<section class="listing-products grid-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header text-center">
                    <h3>Promoted Ads</h3>
                </div>
            </div>
        </div>
        <div class="row row-list">
            @foreach (var item in Model.Promoteds)
            {
                <div class="col-12 col-md-6 col-lg-3 item">
                    <div class="item-wrapper">
                        <div class="image-wrapper">
                            <div class="promoted">
                                <span>Promoted</span>
                            </div>
                            <a href="view-listing.html" class="image">
                                <img class="" src="~/Uploads/@item.Photo" data-src="#" alt="">
                            </a>
                            <div class="quick-actions">
                                <a href="#quick-view" data-toggle="modal" class="btn btn-primary btn-circle"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a href="#" class="btn btn-primary btn-circle add-to-fav"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="info-wrapper">
                            <div class="info">
                                <div class="category">@item.Title</div>
                                <a href="@Url.Action("index","viewlisting")" class="name">@item.NameUrl</a>
                                <span class="price">$419.99</span>
                                <span class="location"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> @item.Location</span>
                                <span class="posted"><i class="far fa-clock" aria-hidden="true"></i> @item.Date</span>
                            </div>
                        </div>
                    </div>
                </div>
            }

          
        </div>
    </div>
</section>

<footer class="footer">
    <form action="#" method="post" class="newsletter-banner">
        <div class="container">
            <div class="row justify-content-center align-self-center h-100">
                <div class="col-12 col-xl-10">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 col-lg-6 my-auto">
                            <label>Sign up For <strong>Newsletter:</strong></label>
                        </div>
                        <div class="col-12 col-md-8 col-lg-6 my-auto">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button">Sign Up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="block-navigation">
        <a href="javascript:;" class="btn btn-secondary back-to-top"><i class="fas fa-angle-up"></i></a>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="logo">
                        <a href="#"><img src="~/Public/images/logo-light.png" width="" height="" alt="" /></a>
                    </div>
                    <p class="info">
                        Aliquam accumsan dolor enim, et tincidunt augue cursus in felis in lorem efficitur molestie id eget erat. Vivamus nisi tellus, sodales at auctor non, blandit vel augue. Etiam quis libero feugiat, consequat vitae, venenatis nisl.
                    </p>
                    <ul class="social">
                        @foreach (var sl in socialLinks)
                        {
                            <li><a href="@sl.Url" target="_blank"><i class="fab fa-@sl.Icon" aria-hidden="true"></i></a></li>
                        }


                    </ul>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="heading">Categories</div>
                            <ul>
                                <li><a href="category-list-2.html">Auto & Moto</a></li>
                                <li><a href="category-list.html">Electronics & Appliances</a></li>
                                <li><a href="category-list-2.html">Fashion</a></li>
                                <li><a href="category-list.html">Home And Garden</a></li>
                                <li><a href="category-list-2.html">Jobs</a></li>
                                <li><a href="category-list.html">Pets</a></li>
                                <li><a href="category-list-2.html">Real Estate</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="heading">Help</div>
                            <ul>
                                <li><a href="simple-page.html">Conditions</a></li>
                                <li><a href="simple-page.html">Contact</a></li>
                                <li><a href="simple-page.html">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="heading">Blog</div>
                            <ul>
                                <li><a href="blog-article.html">About Us</a></li>
                                <li><a href="blog-article.html">Company</a></li>
                                <li><a href="blog-article.html">Business</a></li>
                                <li><a href="blog-article.html">Affiliate</a></li>
                                <li><a href="blog-article.html">Intern Program</a></li>
                                <li><a href="blog-article.html">Jobs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-copyright">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    2018 &copy; ThePure Template by <a href="https://www.codinbit.com/">CodinBit</a>
                </div>
            </div>
        </div>
    </div>
</footer>
